.content__title {
    text-align: center;
}

.content__form {
    margin: 0 auto;
    width: 50%;
}

.form__update--label {
    display: block;
    font-size: 24px;
}

.form__update--item {
    padding: 5px;
    width: 100%;
    font-size: 24px;
    margin: 5px;
}

.form__update--button {
    display: block;
    margin: 40px 0px;
    text-align: center;
    width: 100%;
    background-color: #FF5555;
    color: #FFF;
    border-radius: 5px;
    border: 1px solid #FF5555;
    padding: 10px;
    font-size: 26px;
    cursor: pointer;
}

.form__error {
    color: red;
}