.header {
    width: 100%;
}

.header__inner {
    background-color: black;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding: 5px 5px;
}

.header__search {
    width: 30%;
}

.header__search--item {
    padding: 5px 10px;
    width: 100%;
}

.header__buttons {
    display: flex;
    gap: 10px;
}

.header__button--logout {
    background-color: black;
    color: #FFF;
    border: none;
    font-size: 20px;
}

.header__button--login {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
}

.header__button--mypage {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
}

.header__button--sell {
    background-color: #FFF;
    color: black;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 20px;
}

@media screen and (max-width: 894px) {
    .header {
        width: 100%;
    }

    .header__inner {
        background-color: black;
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        padding: 5px 5px;
        width: 20%;
    }

    .header__logo--img {
        width: 100%;
    }
}

.content {
    width: 100%;
}