.tab_wrap {
    width: 100%;
    margin: 5% auto;
}

input[type="radio"] {
    display: none;
}

.tab_area {
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #5F5F5F;
}

.tab1_label {
    padding: 0 10%;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.tab2_label {
    padding: 0 10%;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

#tab1:checked~.tab_area .tab1_label {
    background: #fff;
    color: #FF0000;
}

#tab1:checked~.panel_area #panel1 {
    display: flex;
    flex-wrap: wrap;
}

#tab2:checked~.tab_area .tab2_label {
    background: #fff;
    color: #FF0000;
}

#tab2:checked~.panel_area #panel2 {
    display: flex;
    flex-wrap: wrap;
}

.panel_area>div {
    display: none;
}

.product__item {
    margin: 5%;
}

.product__link {
    text-decoration: none;
}

.product__img {
    height: 200px;
    width: 200px;
}

.img {
    width: 100%;
    height: 100%;
}

.product__name {
    font-size: 25px;
    color: black;
}

.product__sold {
    background-color: #FF5555;
    color: #FFF;
    text-align: left;
}