.content-item{
    display:flex;
    justify-content: center;
    margin: 5% 5% auto;
}

.item__detail--img {
    width: 300px;
    height: 300px;
    margin: 5%;
}

.img {
    width: 100%;
    height: 100%;
}

.item__detail{
    width: 100%;
    padding: 5px;
}

.product__sold {
    background-color: #FF5555;
    color: #FFF;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.item__detail--name {
    font-size: 30px;
    font-weight: bold;
}

.item__detail--brand {
    font-size: 10px;
    font-weight: bold;
}

.item__detail--brand{
    font-size: 10px;
    margin-top: -5%;
}

.item__detail--price{
    font-size: 20px;
}

.price {
    font-size: 30px;
}

.review {
    display: flex;
    justify-content: left;
    margin: 5% 5% auto;
    align-items: center;
}

.review__like,
.review__comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.review__favorite {
    display: none;
}

.review__icon {
    cursor: pointer;
    font-size: 35px;
}

input[type="checkbox"]:checked+label .review__icon {
    color: #FF5555;
}

input[type="checkbox"]+label .review__icon {
    color: #ccc;
}

.favorites_count,
.comments_count {
    margin: 5px 0px;
    font-size: 10px;
    text-align: center;
}

.button__purchase{
    text-align: center;
    background-color: #FF5555;
    color: #FFF;
    border: none;
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    font-weight: bold;
}

.info__detail{
    display: flex;
    align-items: center;

}

.detail__header{
    text-align: left;
    width: 30%;
}

.detail__header--title{
    font-weight: bold;
}

.detail__info{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.detail__info--category{
    background-color: #D9D9D9;
    border-radius: 15px;
    text-align: center;
    margin: 5px 10px;
    padding: 0 10px;
}

.detail__info--condition{
    margin: 0 10px;
    text-align: center;
    padding: 0 10px;
}

.profile__data{
    display: flex;
    align-items: center;
}

.profile__data--icon img{
    border-radius:50%;
    width: 50px;
    height: 50px;
}

.profile__data--name{
    padding: 0 10px;
}

.profile__comment{
    background-color: #D9D9D9;
    text-align: left;
    margin: 10px 0;
    padding: 5px ;
}

.form__comment--title{
    font-weight: bold;
    margin-top: 10px;
}

.input__comment{
    width: 100%;
    height: 30%;

}

.button__comment {
    text-align: center;
    background-color: #FF5555;
    color: #FFF;
    border: none;
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.form__error {
    color: red;
}