.content__profile {
    display: flex;
    justify-content: space-between;
    margin: 5% 10%;
}

.profile__item {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center
}

.default-icon {
    background-color: #D9D9D9;
    border-radius: 50%;
}

.profile__item--profile {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.profile__item--name {
    font-weight: bold;
    width: 100%;
}

.star-rating {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 20px;
    color: #FFF048;
}

.star {
    color: #D9D9D9;
}

.star.filled {
    color: #FFF048;
    font-weight: bold;
}

.profile__item--edit {
    color: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;
    padding: 5%;
    text-decoration: none;
}

.content__list {
    margin-top: 5%;
    border-bottom: 2px solid #5F5F5F;
    padding-left: 15%;
}

.tab_wrap {
    width: 100%;
    margin: 5% auto;
}

input[type="radio"] {
    display: none;
}

.tab_area {
    width: 100%;
    margin: 0 auto;
    border-bottom:2px solid #5F5F5F;
}

.tab1_label {
    padding: 0 5%;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.tab2_label {
    padding: 0 5%;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.tab3_label {
    padding: 0 5%;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

#tab1:checked~.tab_area .tab1_label {
    background: #fff;
    color:#FF0000;
}

#tab1:checked~.panel_area #panel1 {
    display: flex;
    flex-wrap: wrap;
}

#tab2:checked~.tab_area .tab2_label {
    background: #fff;
    color:#FF0000;
}

#tab2:checked~.panel_area #panel2 {
    display: flex;
    flex-wrap: wrap;
}

#tab3:checked~.tab_area .tab3_label {
    background: #fff;
    color: #FF0000;
}

#tab3:checked~.panel_area #panel3 {
    display: flex;
    flex-wrap: wrap;
}

.number {
    display: inline-block;
    background-color: #e74c3c;
    color: #fff;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 20px;
    margin-left: 4px;
    font-size: 0.9rem;
}

.panel_area>div {
    display: none;
}

.product__item {
    margin: 5%;
}

.product__link {
    text-decoration: none;
}

.product__img {
    height: 200px;
    width: 200px;
    position: relative;
}

.notification__badge {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 7px;
    font-size: 12px;
    font-weight: bold;
    z-index: 10;
}

.img {
    width: 100%;
    height: 100%;
    display: block;
}

.product__name {
    font-size: 25px;
    color: black;
}

.product__sold {
    background-color: #FF5555;
    color: #FFF;
    text-align: left;
}