.content__title {
    text-align: center;
}

.content__form {
    margin: 0 auto;
    width: 50%;
}

.form__icon {
    display: flex;
}

.form__update--preview img {
    max-width: 100%;
    max-height: 100%;
}

.form__update--preview {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 50%;
}

.preview--img {
    background-color: #ddd;
}

.form__update--icon {
    color: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.form__update--img {
    display: none;
}

.form__update--label {
    display: block;
    font-size: 24px;
}

.form__update--item {
    padding: 5px;
    width: 100%;
    font-size: 24px;
    margin: 5px;
}

.form__update--button {
    display: block;
    margin: 40px 0px;
    text-align: center;
    width: 100%;
    background-color: #FF5555;
    color: #FFF;
    border-radius: 5px;
    border: 1px solid #FF5555;
    padding: 10px;
    font-size: 26px;
    cursor: pointer;
}

.form__error {
    color: red;
}