.modal__overlay--active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal__content {
    background-color: #FDFCE6;
    width: 400px;
    max-width: 90%;
    border-radius: 10px;
    position: relative;
    border: 1px solid black;
}

.fin__message {
    font-size: 25px;
    border-bottom: 1px solid black;
    padding: 3%;
}

.span__message {
    padding: 3%;
    color: #868686;
    font-size: 15px;
}

.stars {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 1px solid black;
    width: 100%;
}

.star {
    font-size: 60px;
    color: #ccc;
    cursor: pointer;
    margin: 0 1%;
    transition: color 0.2s;
}

.star.selected {
    color: #FFF048;
}

.review__button {
    margin: 5%;
    transition: background 0.2s;
    text-align: right;
}

.review__button button {
    background-color: #FF8282;
    border: 1px solid #FF8282;
    color: white;
    padding: 1% 2%;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}