.content__title {
    text-align: center;
}

.form {
    width: 70%;
    margin: 0 auto;
}

.form__item--title{
    margin-bottom: 0;
}

.form__update--preview {
    width: 100%;
    height: 100px;
    border: 1px solid #ddd;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.form__update--preview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.form__update--item {
    color: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: 40%;
}

.form__update--img {
    display: none;
}

.form__sell--title {
    border-bottom:1px solid #5F5F5F ;
    color: #5F5F5F;
}

.form__category{
    display: flex;
    flex-wrap: wrap;
}

.form__category--item {
    opacity: 0;
}

.category__label {
    color: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin: 5px 5px;
    display: inline-block;
    text-align: center;
}

.form__category--item:checked+.category__label {
    background-color: #FF5555;
    color: #FFFFFF;
}

.form__condition--item {
    width: 100%;
}

.form__item {
    width: 100%;
}

.form__button {
    color: #FFF;
    background-color: #FF5555;
    border: 1px solid #FF5555;
    width: 100%;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px;
    font-size: 26px;
    cursor: pointer;
    margin: 40px 0px;
}

.form__error {
    color: red;
}